/* COLORS */
:root {
    --main-color: rgb(48, 27, 5);
    --bg-color: white;
    --gray-color: rgb(244, 244, 244);
    --accent-color: rgb(255, 114, 0);
}

/* LAYOUT */
:root {}

/* TYPOGRAPHY */
:root {}
